@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display&family=Big+Shoulders+Stencil+Display:wght@600&display=swap');
* {
    padding: 0;
    margin: 0;
    border: 0;
}

 /* Home page style */
#homePageImg {
    background: url('../images/homePage.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 720px;
    position: relative;
}

#logo {
    width: 50%;
    height: auto;
    text-align: center;
    margin-top: 2%;
    margin-left: 2%;
}


#logo a {
    font-size: 400%;
    font-family: 'Big Shoulders Stencil Display', cursive;
    color: chartreuse;
    text-decoration: none;
}

#icon {
    font-size: 50%;
}

#logo a:hover {
    color: rgb(255, 30, 0);
}

#menu {
    right: 3%;
    top: 4%;
    width: 35%;
    height: auto;
    margin-right: 1%;
    position: absolute;
}

#menu li {
    float: right;
    margin-right: 40px;
    text-align: center;
    list-style-type: none;
}

#menu a {
    font-size: 250%;
    font-family: 'Big Shoulders Stencil Display', cursive;
    color: chartreuse;
}

#menu a:hover {
    color: rgb(255, 30, 0);
}


#playButton button{
    width: 20%;
    height: 60px;
    font-size: 150%;
    font-weight: bolder;
    color: rgb(255, 30, 0);
    position: absolute;
    bottom: 35%;
    left: 40%;
    border: 10px;
    border-style: inset;
    background-color: transparent;
    border-color:rgb(255, 30, 0);
}

#playButton button:hover {
     background-color: chartreuse;
}


#footer {
    width: 50%;
    height: 50px;
    position: absolute;
    bottom: 0;
    margin-left: 25%;
}

#footer li {
    float: right;
    list-style-type: none;
    margin-right: 20%;
    text-align: center;
}


#footer a {
    font-size: 250%;
    color: chartreuse;
}

#footer a:hover {
    color: rgb(255, 30, 0);
}


/* Game page */

#gamePageImg {
    background: url('../images/playGame.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 720px;
}

/* Contact us page */

#contactUsImg {
    background: url('../images/playGame.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 720px;
}
