@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display&family=Big+Shoulders+Stencil+Display:wght@600&display=swap');
* {
    padding: 0;
    margin: 0;
    border: 0;
}

 /* Home page style */
#homePageImg {
    background: url('../images/homePage.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 720px;
    position: relative;
}

#logo {
    width: 50%;
    height: auto;
    text-align: center;
    margin-top: 2%;
    margin-left: 2%;
}


#logo a {
    font-size: 400%;
    font-family: 'Big Shoulders Stencil Display', cursive;
    color: chartreuse;
    text-decoration: none;
}

#icon {
    font-size: 50%;
}

#logo a:hover {
    color: rgb(255, 30, 0);
}

#menu {
    right: 3%;
    top: 3%;
    width: 35%;
    height: auto;
    margin-right: 1%;
    position: absolute;
}

#menu li {
    float: right;
    margin-right: 40px;
    text-align: center;
    list-style-type: none;
}

#menu a {
    font-size: 250%;
    font-family: 'Big Shoulders Stencil Display', cursive;
    color: chartreuse;
}

#menu a:hover {
    color: rgb(255, 30, 0);
}


#playButton button{
    width: 20%;
    height: 60px;
    font-size: 150%;
    font-weight: bolder;
    color: rgb(255, 30, 0);
    position: absolute;
    bottom: 35%;
    left: 40%;
    border: 10px;
    border-style: inset;
    background-color: transparent;
    border-color:rgb(255, 30, 0);
}

#playButton button:hover {
     background-color: chartreuse;
}


#footer {
    width: 50%;
    height: 50px;
    position: absolute;
    bottom: 0;
    margin-left: 25%;
}

#footer li {
    float: right;
    list-style-type: none;
    margin-right: 20%;
    text-align: center;
}


#footer a {
    font-size: 250%;
    color: chartreuse;
}

#footer a:hover {
    color: rgb(255, 30, 0);
}


/* Game page */

#gamePageImg {
    background: url('../images/playGame.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 720px;
    position: relative;
}
/* Game page  rules section */
#leftDiv {
    width: 44%;
    height: 60%;
    float: left;
    margin-top: 7%;
    border-right: 8px solid rgb(255, 187, 0);
}

#leftDivIn {
    background-color: rgba(255, 187, 0, .6);
    height: 100%;
    background-size: cover;
    margin: 0 10% 0 10%;
    border: 10px solid;
    border-style: inset;
}

#leftDiv h2 {
    font-size: 300%;
    color: rgb(255, 30, 0);
    margin-left: 10%;
    padding-top: 10%;
    font-family: 'Big Shoulders Stencil Display', cursive;
}

#leftDiv li {
    font-size: 200%;
    color: rgb(255, 30, 0);
    margin-left: 15%;
    font-family: 'Big Shoulders Inline Display', cursive;
    font-weight: bolder;
}

#leftDiv i {
    font-size: 100%; 
}

/* Game section */
#rightDiv {
    width: 55%;
    height: 60%;
    float: right;
    margin-top: 7%;
}

#rightDivIn {
    background-color: rgba(255, 187, 0, .6);
    height: 100%;
    background-size: cover;
    margin: 0 10% 0 7%;
    border: 10px solid;
    border-style: inset;
}

#rightDivIn h2 {
    font-size: 300%;
    color: rgb(255, 30, 0);
    text-align: center;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-weight: bolder;
}
/* Game buttons div */
#gameButtons {
    width: 100%;
    height: 28%;
}

#gameButtons button {
    width: 15%;
    height: 80px;
    margin-left: 13%;
    margin-top: 20px;
    border: 8px solid;
    border-style: inset;
    background-color: ivory;
}

#gameButtons button:hover {
    background-color: rgb(9, 209, 43);
    border-color: rgb(255, 30, 0);
}

#gameButtons i {
    font-size: 200%;
    color: rgb(255, 30, 0);
}

#guest i {
    font-size: 200%;
    color: rgb(255, 30, 0);
    margin-top: 20px;
    margin-left: 20px;
}

#computer i {
    font-size: 200%;
    color: rgb(255, 30, 0);
    margin-top: 20px;
    margin-left: 20px;
}

/* Choise div style */
#choiseDiv {
    width: 100%;
    height: 28%;
    display: inline-block;
    position: relative;
}

#guest {
    width: 70px;
    height: 70px;
    background-color: ivory;
    left: 15px;
    top: 15px;
    border: 8px solid;
    border-style: inset;
    position: absolute;
}

#gameResult {
    width: 60%;
    margin-top: 40px;
    text-align: center;
    left: 110px;
    position: absolute; 
}

#resultP {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 170%;
    color: rgb(255, 30, 0);
}

#computer {
    width: 70px;
    height: 70px;
    background-color: ivory;
    right: 15px;
    top: 15px;
    border: 8px solid;
    border-style: inset;
    position: absolute;
}

#submitButton {
    width: 30%;
    height: 50px;
    margin-left: 35%; 
    border: 8px solid;
    border-style: inset;
    color: rgb(255, 30, 0);
    font-weight: bolder; 
    font-size: 100%;
}

#submitButton:hover {
    background-color: rgb(9, 209, 43);
    border-color: rgb(255, 30, 0);
}

/* Result div style */
#resultDiv {
    width: 100%;
    height: 10%;
    margin-top: 30px;
}

#scores {
    display: inline-block;
    margin-left: 13%;
    font-size: 200%;
    color: rgb(255, 30, 0);
    font-weight: bolder;
}

/* Contact us page */

#contactUsImg {
    background: url('../images/playGame.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 720px;
    position: relative;
}

#contactDiv {
    width: 30%;
    height: auto;
    margin-left: 35%;
    margin-top: 6%;
    font-family: 'Big Shoulders Inline Display', cursive;
    font-weight: bolder;
    font-size: 250%;
    color: rgb(26, 194, 102);
    text-align: center;
    background-color: ivory;
    border: 8px solid;
    border-style: inset;
}

#nameEmail {
    width: 100%;
    height: 150px;
}

label {
    font-size: 150%;
    color: chartreuse;
    font-weight: bolder;
}

#nameDiv {
    width: 20%;
    float: left; 
    margin-top: 3%;
    margin-left: 20%;
}

#nameDiv input {
    width: 100%;
    height: 40px;
    background-color: ivory;
    border: 8px solid;
    border-style: inset;
}

#nameDiv input:hover {
    border-color: rgb(26, 194, 102);
}

#emailDiv {
    width: 20%;
    float: right; 
    margin-top: 3%;
    margin-right: 20%;
}

#emailDiv input {
    width: 100%;
    height: 40px;
    background-color: ivory;
    border: 8px solid;
    border-style: inset;
}

#emailDiv input:hover {
    border-color: rgb(26, 194, 102);
}

#messageDiv {
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-bottom: 10%;
}

#messageDiv textarea {
    width: 100%;
    background-color: ivory;
    border: 8px solid;
    border-style: inset;
}

#messageDiv textarea:hover {
    border-color: rgb(26, 194, 102);
}


#submit {
    width: 20%;
    height: 50px;
    background-color: ivory;
    border: 8px solid;
    border-style: inset;
    margin-left: 40%;
    bottom: 15%;
    position: absolute;font-family: 'Big Shoulders Inline Display', cursive;
    font-weight: bolder;
    font-size: 150%;
    color: rgb(26, 194, 102);
    text-align: center;

}

#submit:hover {
    background-color: rgb(255, 30, 0);
    border-color: rgb(26, 194, 102);
}

/* Media queries */
/* Media screen size from 1100px wide and down */

@media screen  and (max-width: 1100px){
    /* Home page media screen size from 1100px */
    #logo a {
        font-size: 300%;
    }

    #menu a {
        font-size: 220%;
    }

    #gameResult {
        width: 50%;
    }

    #scores {
        display: inline-block;
        margin-left: 10%;
        font-size: 180%;
    }

    #leftDiv h2 {
        font-size: 280%;
    }
    
    #leftDiv li {
        font-size: 180%;
        margin-left: 10%;
    }
    
    #leftDiv i {
        font-size: 80%; 
    }
}

/* Media screen size from 920px wide and down */

@media screen  and (max-width: 920px) {
    /* Home page media screen size from 920px */
    #menu li {
        margin-right: 20px;
    }
    
    #menu a {
        font-size: 150%;
    }
    /* Game page media screen size from 920px */
    #leftDiv {
        width: 70%;
        height: 30%;
        float: left;
        margin-top: 7%;
        margin-left: 15%;
        padding-bottom: 50px;
        border-bottom: 8px solid rgb(255, 187, 0);
        border-right: none;
    }

    #rightDiv {
        width: 70%;
        float: left;
        margin-left: 15%;
        height: 40%;
        margin-top: 30px;
        
    }

    #gamePageImg {
        height: 1200px;
    }

    #leftDivIn {
        margin: 0 0 10% 0;
    }

    #rightDivIn {
       margin: 0;
    }

    #emailDiv {
        width: 30%;
        margin-right: 15%;
    }

    #nameDiv {
        width: 30%;
        margin-left: 15%;
    }
}

/* Media screen size from 807px wide and down */

@media screen  and (max-width: 807px) {

    /* Home page media screen size from 807px */
    #logo {
        width: 50%;
        margin-left: 1%;
    }
    
    
    #logo a {
        font-size: 250%;
    }

    #playButton button{
        width: 30%;
    }
}

/* Media screen size from 672px wide and down */

@media screen  and (max-width: 672px) {
   
    /* Home page media screen sise 672px */
    #footer {
        margin-left: 0;
        width: 100%;
    }
    
    #footer li {
        margin-right: 18%;
    }

    #playButton button{
        width: 50%;
        bottom: 35%;
        left: 24%;
    }

    #submitButton {
        width: 50%;
        margin-left: 25%; 
    }

    #logo {
        width: 100%;
    }
    
    
    #logo a {
        font-size: 220%;
    }
    
    #icon {
        font-size: 50%;
    }
    
    
    #menu {
        width: 100%;
    }
    
    #menu li {
        float: right;
        margin-right: 10px;
        margin-top: 8%;
    }
    
    #menu a {
        font-size: 180%;
    }

    /* Game page  media screen size from 672px*/

    #rightDiv {
        width: 100%;
        margin-left: 0;
        float: left;
        height: 40%;
        margin-top: 30px;
        
    }

    #leftDiv {
        width: 100%;
        height: 24%;
        margin-left: 0;
        float: left;
        margin-top: 25%;
    }
    
    #gameButtons button {
        width: 31%;
        margin-left: 1%;
    }

    /* Contact us page media screen size from 672px */
    #contactDiv {
        width: 40%;
        margin-left: 29%;
        margin-top: 20%;
        height: 40px;
        font-size: 180%;

    }
    
    #nameEmail {
        width: 100%;
        height: 150px;
    }
    
    #nameDiv {
        width: 40%;
        float: left; 
        margin-left: 4%;
    }
    
    #emailDiv {
        width: 40%;
        float: right; 
        margin-right: 4%;
    }
    
    #messageDiv {
        width: 90%;
        margin-left: 4%;
    }
    
    
    #submit {
        width: 50%;
        margin-left: 24%;
    }
}
@media screen  and (max-width: 410px) {
   
    /* Home page media screen sise 410px */
    #gameResult {
        width: 60%;
        margin-top: 40px;
        text-align: left;
    }
    
    #resultP {
        font-size: 150%;
    }
}
